page-hilton-handrea h2 {
    font-weight: bold !important;
    margin: 10px 10px 10px 10px !important;
}

page-hilton-handrea h1 {
    margin: 10px 10px 10px 10px !important;
}

page-hilton-handrea p {
    margin: 10px 10px 10px 10px !important;
}
