<ion-header>

  <ion-navbar>
    <ion-title>PEQUENO NÚCLEO</ion-title>
    <ion-buttons end>
        <sino></sino>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content class="card-background-page">
    <ion-card style="text-align: justify;">
        <loading-spinner margin="10px auto" color="black" *ngIf="showSpinner"></loading-spinner>
      <!-- <img src="assets/ministerios/teatro.jpg" /> -->
      <img (load)="showSpinnerMeth()" src="{{imgsource}}" />
      <div *ngIf="showTitle" class="card-title">{{pequenoNucleo.nome}}</div>
      <div padding>
      <h2>TIPO:</h2>
      <p>
          {{pequenoNucleo.tipo}}
      </p>
      <h2>LOCAL, DIA E HORÁRIO:</h2>
      <p>
          {{pequenoNucleo.cidade}} - {{pequenoNucleo.diaSemana}} às {{pequenoNucleo.hora}}
      </p>
      <h2>EMAIL:</h2>
      <p>
          {{pequenoNucleo.email}}
      </p>
      <h2>FAIXA ETÁRIA</h2>
      <p>
          <span *ngIf="pequenoNucleo.faixaEtaria.max == -1">A partir de {{pequenoNucleo.faixaEtaria.min}} anos</span>
          <span *ngIf="pequenoNucleo.faixaEtaria.max != -1">De {{pequenoNucleo.faixaEtaria.min}} até {{pequenoNucleo.faixaEtaria.max}} anos de idade</span>
      </p>
      <h2>MATURIDADE:</h2>
      <p>
          {{pequenoNucleo.maturidade}}
      </p>
      </div>
    </ion-card>
</ion-content>
