<ion-header>

  <ion-navbar>
    <ion-title>EQUIPE PASTORAL</ion-title>
    <ion-buttons end>
        <sino></sino>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content class="card-background-page">

  <loading-spinner margin="100px auto" color="black" *ngIf="showSpinner"></loading-spinner>

  <ion-card *ngFor="let pastor of equipePastoral | async" (click)="open(pastor.$key)">
      <img src="{{imgsource[pastor.$key]}}" />
      <div class="card-title">{{pastor.nome}}</div>
  </ion-card>

  <!-- <ion-card (click)="openIbiAlice()">
    <img src="assets/menu/equipe-pastoral/ibi-alice.jpg" />
    <div class="card-title">IBI E ALICE</div>
  </ion-card>

  <ion-card (click)="openAlexAnne()">
    <img src="assets/menu/equipe-pastoral/alex-anne.jpg" />
    <div class="card-title">ALEX E ANNE</div>
  </ion-card>

  <ion-card (click)="openEduardoClaudia()">
    <img src="assets/menu/equipe-pastoral/eduardo-claudia.jpg" />
    <div class="card-title">EDUARDO E ANA CLÁUDIA</div>
  </ion-card>

  <ion-card (click)="openHiltonHandrea()">
    <img src="assets/menu/equipe-pastoral/hilton-handrea.jpg" />
    <div class="card-title">HILTON E HANDREA</div>
  </ion-card>

  <ion-card (click)="openPauloCinara()">
    <img src="assets/menu/equipe-pastoral/paulo-cinara.jpg" />
    <div class="card-title">PAULINHO E CINARA</div>
  </ion-card>

  <ion-card (click)="openDarciSarah()">
    <img src="assets/menu/equipe-pastoral/darci-sarah.jpg" />
    <div class="card-title">DARCI E SARAH</div>
  </ion-card> -->

</ion-content>
