page-ministerio-apoio-palco  h2 {
    font-weight: bold !important;
    margin-bottom: 10px !important;
    margin-top: 10px !important;
}

page-ministerio-apoio-palco .scroll-content {
    padding: 0px !important;
}
