page-gincana-acampamento ion-content {
    background-color: #B8D4B1 !important;
}

page-gincana-acampamento .toolbar-background {
    background-color: #005221 !important;
}

page-gincana-acampamento sino .button-md {
    background-color: #005221 !important;
}
