<ion-header>

  <ion-navbar>
    <ion-title>COMO CHEGAR</ion-title>
    <ion-buttons end>
        <sino></sino>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content class="card-background-page">

    <loading-spinner margin="100px auto" color="black" *ngIf="showSpinner"></loading-spinner>

    <ion-card *ngFor="let local of comoChegar | async" (click)="open(local.ordem)">
        <img src="{{imgsource[local.$key]}}" />
        <div class="card-title"><span>{{local.nome}}</span></div>
    </ion-card>

  <!-- <ion-card class="adv-map">
  <div style="position: relative">
    <div #map id="map"></div>
    <ion-fab right top>
      <button ion-fab class="fab-map">
        <ion-icon name='pin'></ion-icon>
      </button>
    </ion-fab>
  </div>
  <ion-item>
    <ion-icon color="subtle" large item-start name='wine'></ion-icon>
    <h2>Igreja Sede</h2>
    <p>SIBS 2 - Núcleo Bandeirante, Brasília - DF, 71736-207</p>
    <p style="font-weight: bold">(61) 3386-2122</p>
  </ion-item>
  <ion-item actions>
    <span ion-text item-start color="secondary" class="item-bold">18 min</span>
    <span ion-text item-start color="subtle">(2.6 mi)</span>
    <button ion-button color="primary" clear item-end icon-start>
      <ion-icon name='navigate'></ion-icon>
      Start
    </button>
  </ion-item>

</ion-card>

<ion-card class="adv-map">
  <div style="position: relative">
    <div #map2 id="map2"></div>
    <img src="assets/ministerios/acolhimento.jpg">

    <ion-fab right top>
      <button ion-fab color="danger" class="fab-map">
        <ion-icon name="pin"></ion-icon>
      </button>
    </ion-fab>
  </div>
  <ion-item>
    <ion-icon color="subtle" large item-start name='leaf'></ion-icon>
    <h2>Igreja da Arniqueira</h2>
    <p>SIBS 2 - Núcleo Bandeirante, Brasília - DF, 71736-207</p>
    <p style="font-weight: bold">(61) 3386-2122</p>
  </ion-item>
  <ion-item actions>
    <span ion-text item-start class="item-bold">3 hr</span>
    <span ion-text item-start color="subtle">(4.8 mi)</span>
    <button ion-button color="danger" clear item-end icon-start>
      <ion-icon name='navigate'></ion-icon>
      Start
    </button>
  </ion-item>

</ion-card>

<ion-card class="adv-map">
  <div style="position: relative">
    <div #map3 id="map3"></div>
    <img src="assets/ministerios/acolhimento.jpg">
    <ion-fab right top>
      <button ion-fab color="secondary">
        <ion-icon name="pin"></ion-icon>
      </button>
    </ion-fab>
  </div>
  <ion-item>
    <ion-icon color="subtle" large item-start name='leaf'></ion-icon>
    <h2>Chácara da Igreja</h2>
    <p>SIBS 2 - Núcleo Bandeirante, Brasília - DF, 71736-207</p>
    <p style="font-weight: bold">(61) 3386-2122</p>
  </ion-item>
  <ion-item actions>
    <span ion-text item-start color="secondary" class="item-bold">26 min</span>
    <span ion-text item-start color="subtle">(8.1 mi)</span>
    <button ion-button color="secondary" clear item-end icon-start>
      <ion-icon name='navigate'></ion-icon>
      Start
    </button>
  </ion-item>

</ion-card> -->
</ion-content>
