page-como-chegar {
  ion-card.adv-map p {
    font-size: 0.7em !important;
  }

  button[fab].fab-map {
    top: calc(100% - 35px);
    z-index: 50;
  }

  .item-bold {
    font-weight: bold;
  }

  ion-content.cards-bg {
    background-color: #f4f4f7;
  }

  #map{
    height: 500px;
    width: 500px;
  }

  #map2{
    height: 500px;
    width: 500px;
  }

  #map3{
    height: 500px;
    width: 500px;
  }
}

page-como-chegar .card-title {
    background-color: rgb(230, 242, 255);
    opacity: 0.50;
}

page-como-chegar .card-title span {
    opacity: 1;
    color: black;
}

page-como-chegar ion-content {
    background-color: #D4ECFC !important;
}
