page-welcome-video {

    video {
        position: fixed;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -100;
        transform: translateX(-50%) translateY(-50%);
    }
}

page-welcome-video ion-slide h2 {
    background-color: rgb(230, 242, 255);
    opacity: 0.50;
}

page-welcome-video ion-slide p {
    background-color: rgb(230, 242, 255);
    opacity: 0.50;
}

page-welcome-video img {
    margin-top: 20px;
    width: 90%;
    opacity: 0.90;
    position: absolute;
  left: 5%;
}
