page-paulo-cinara h2 {
    font-weight: bold !important;
    margin: 10px 10px 10px 10px !important;
}

page-paulo-cinara h1 {
    margin: 10px 10px 10px 10px !important;
}

page-paulo-cinara p {
    margin: 10px 10px 10px 10px !important;
}
