<ion-header>

  <ion-navbar>
    <ion-title>MINISTÉRIOS</ion-title>
    <ion-buttons end>
        <sino></sino>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content class="card-background-page">

    <loading-spinner margin="100px auto" color="black" *ngIf="showSpinner"></loading-spinner>

    <ion-card *ngFor="let ministerio of ministerios | async" (click)="open(ministerio.$key)">
        <img src="{{imgsource[ministerio.$key]}}" />
        <div class="card-title"><span>{{ministerio.nome}}</span></div>
    </ion-card>
  <!-- <ion-card (click)="openAcolhimento()">
    <img src="assets/ministerios/acolhimento.jpg" />
    <div class="card-title">ACOLHIMENTO</div>
  </ion-card>

  <ion-card (click)="openApoioPalco()">
    <img src="assets/ministerios/apoio_palco.jpg" />
    <div class="card-title">APOIO DE PALCO</div>
  </ion-card>

  <ion-card (click)="openCoral()">
    <img src="assets/ministerios/coral.jpg" />
    <div class="card-title">CORAL</div>
  </ion-card>

  <ion-card (click)="openArtesanato()">
    <img src="assets/ministerios/artesanato.jpg" />
    <div class="card-title">ARTESANATO</div>
  </ion-card>

  <ion-card (click)="openComunicacao()">
    <img src="assets/ministerios/comunicacao.jpg" />
    <div class="card-title">COMUNICAÇÃO</div>
  </ion-card>

  <ion-card (click)="openDanca()">
    <img src="assets/ministerios/danca.jpg" />
    <div class="card-title">DANÇA</div>
  </ion-card>

  <ion-card (click)="openIntercessao()">
    <img src="assets/ministerios/intercessao.jpg" />
    <div class="card-title">INTERCESSÃO</div>
  </ion-card>

  <ion-card (click)="openLouvor()">
    <img src="assets/ministerios/louvor.jpg" />
    <div class="card-title">LOUVOR</div>
  </ion-card>

  <ion-card (click)="openMultimidia()">
    <img src="assets/ministerios/multimedia.jpg" />
    <div class="card-title">MULTIMÍDIA</div>
  </ion-card>

  <ion-card (click)="openTeatro()">
    <img src="assets/ministerios/teatro.jpg" />
    <div class="card-title">TEATRO</div>
  </ion-card>

  <ion-card (click)="openAcaoSocial()">
    <img src="assets/ministerios/assistencia_social.jpg" />
    <div class="card-title">AÇÃO SOCIAL</div>
  </ion-card>

  <ion-card (click)="openCozinha()">
    <img src="assets/ministerios/cozinha.jpg" />
    <div class="card-title">COZINHA</div>
  </ion-card>

  <ion-card (click)="openNucleoKids()">
    <img src="assets/ministerios/nucleo_kids.jpg" />
    <div class="card-title">NÚCLEO KIDS</div>
  </ion-card>

  <ion-card (click)="openEstrutura()">
    <img src="assets/ministerios/estrutura.jpg" />
    <div class="card-title">ESTRUTURA</div>
  </ion-card>

  <ion-card (click)="openEvangelismo()">
    <img src="assets/ministerios/evangelismo.jpg" />
    <div class="card-title">EVANGELISMO</div>
  </ion-card>

  <ion-card (click)="openFamilia()">
    <img src="assets/ministerios/familia.jpg" />
    <div class="card-title">FAMÍLIA</div>
  </ion-card>

  <ion-card (click)="openLibertacao()">
    <img src="assets/ministerios/libertacao.jpg" />
    <div class="card-title">LIBERTAÇÃO</div>
  </ion-card>

  <ion-card (click)="openNucleoEnsino()">
    <img src="assets/ministerios/nucleo_ensino.jpg" />
    <div class="card-title">NÚCLEO DE ENSINO</div>
  </ion-card>

  <ion-card (click)="openNucleoJovem()">
    <img src="assets/ministerios/nucleo_jovem.jpg" />
    <div class="card-title">NÚCLEO JOVEM</div>
  </ion-card>

  <ion-card (click)="openPequenosNucleos()">
    <img src="assets/ministerios/pequenos_nucleos.jpg" />
    <div class="card-title">PEQUENOS NÚCLEOS</div>
  </ion-card>

  <ion-card (click)="openSentinelas()">
    <img src="assets/ministerios/sentinelas.jpg" />
    <div class="card-title">SENTINELAS</div>
  </ion-card>

  <ion-card (click)="openOver30()">
    <img src="assets/ministerios/over30.jpg" />
    <div class="card-title">OVER 30</div>
  </ion-card>

  <ion-card (click)="openPalavra()">
    <img src="assets/ministerios/palavra.jpg" />
    <div class="card-title">PALAVRA</div>
  </ion-card>

  <ion-card (click)="openRecepcao()">
    <img src="assets/ministerios/recepcao.jpg" />
    <div class="card-title">RECEPÇÃO</div>
  </ion-card> -->
</ion-content>
