<ion-header>

  <ion-navbar>
    <ion-title>MINISTÉRIOS</ion-title>
    <ion-buttons end>
        <sino></sino>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content class="card-background-page">

    <loading-spinner margin="100px auto" color="black" *ngIf="showSpinner"></loading-spinner>

    <ion-card *ngFor="let ministerio of ministerios | async" (click)="open(ministerio.ordem)">
        <img src="{{imgsource[ministerio.$key]}}" />
        <div class="card-title"><span>{{ministerio.nome}}</span></div>
    </ion-card>

</ion-content>
