page-ibi-alice h2 {
    font-weight: bold !important;
    margin: 10px 10px 10px 10px !important;
}

page-ibi-alice h1 {
    margin: 10px 10px 10px 10px !important;
}

page-ibi-alice p {
    margin: 10px 10px 10px 10px !important;
}
