.action-sheets-basic-page {
    .ion-logo-googleplus {
        color: #ED4248;
    }
    .ion-logo-facebook {
        color: #508AE4;
    }
    .ion-md-heart-outline {
        color: #31D55F;
    }
    .action-sheet-cancel ion-icon {
        color: #757575;
    }
}
