page-login .logo {
    max-width: 45%;
    margin: auto;
    display: flex;
    //padding-top: 65px;
    position: relative;
}

page-login .logo2 {
    max-width: 85%;
    margin: auto;
    display:flex;
    padding-top: 30px;
    padding-bottom: 15px;
}

page-login .google {
    margin: auto;
    display:flex;
    padding-top: 20px;
    max-width: 70%;

    // display: block;
    // position: absolute;
    // top: 45%;
    // left: 50%;
    // margin-right: -50%;
    // transform: translate(-50%, -50%);
    // font-weight: bold;
    // padding: 25px;
}

page-login .facebook {
    margin: auto;
    display:flex;
    padding-top: 20px;
    max-width: 70%;
    position: relative;
    // display: block;
    // position: absolute;
    // top: 55%;
    // left: 50%;
    // margin-right: -50%;
    // transform: translate(-50%, -50%);
    // font-weight: bold;
    // padding: 25px;
}

page-login ion-content {
    background-color: #D4ECFC !important;
}
