page-login .logo {
    max-width: 70%;
    margin: auto;
    display:flex;
    padding-top: 30px;
}

page-login .google {
    margin: auto;
    display:flex;
    padding-top: 30px;

    // display: block;
    // position: absolute;
    // top: 45%;
    // left: 50%;
    // margin-right: -50%;
    // transform: translate(-50%, -50%);
    // font-weight: bold;
    // padding: 25px;
}

page-login .facebook {
    margin: auto;
    display:flex;
    padding-top: 30px;
    // display: block;
    // position: absolute;
    // top: 55%;
    // left: 50%;
    // margin-right: -50%;
    // transform: translate(-50%, -50%);
    // font-weight: bold;
    // padding: 25px;
}

page-login ion-content {
    background-color: #D4ECFC !important;
}
