<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon id="step8" name="menu"></ion-icon>
    </button>
    <ion-title>
      <img src="assets/home/Logo-Nucleo.png" />
    </ion-title>

    <ion-buttons id="step7" end>
      <sino></sino>
    </ion-buttons>
  </ion-navbar>


</ion-header>


<ion-content class="popover-page" padding>

  <ion-grid>
    <ion-row>
      <ion-col (click)="navToPequenoNucleo()" style="text-align: center">
        <img id="step1" src="assets/home/Pequeno-nucleo.png" width="95" height="auto" />
        <p>PEQUENO NÚCLEO</p>
      </ion-col>
      <!-- <ion-col (click)="navToLogin()" style="text-align: center">
            <img src="assets/home/Login.png" width="95" height="auto" />
            <p>LOGIN</p>
        </ion-col> -->
      <ion-col (click)="navToCultoOnline()" style="text-align: center">
        <img id="step2" src="assets/home/Culto-online.png" width="95" height="auto" />
        <p>CULTO ONLINE</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col (click)="navToTestemunhos()" style="text-align: center">
        <img id="step3" src="assets/home/Testemunhos.png" width="95" height="auto" />
        <p>TESTEMUNHO</p>
      </ion-col>
      <ion-col (click)="navToPedido()" style="text-align: center">
        <img id="step4" src="assets/home/Pedido-de-oracao.png" width="95" height="auto" />
        <p>PEDIDO DE ORAÇÃO</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col (click)="navToMinisterio()" style="text-align: center">
        <img id="step5" src="assets/home/Ministerios.png" width="95" height="auto" />
        <p>MINISTÉRIOS</p>
      </ion-col>
      <ion-col (click)="navToInscricoes()" style="text-align: center">
        <img id="step6" src="assets/home/inscricoes.png" width="95" height="auto" />
        <p>INSCRICOES</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col *ngIf="showIconAcamp" (click)="navToAcampamento()" style="text-align: center">
          <img src="{{imgsource[0]}}" width="95" height="auto" />
          <p>ACAMPAMENTO</p>
      </ion-col>
      <ion-col *ngIf="showIconAwards" (click)="navToAwards()" style="text-align: center">
          <img src="{{imgsource[1]}}" width="95" height="auto" />
          <p>AWARDS</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col *ngIf="showIconEnquete && auth.userHasRole('enquete_write')" (click)="navToEnquete()" style="text-align: center">
          <img src="{{imgsource[2]}}" width="95" height="auto" />
          <p>ENQUETE</p>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
