page-ministerio-pequenos-nucleos h2 {
    font-weight: bold !important;
    margin-bottom: 10px !important;
    margin-top: 10px !important;

}

page-ministerio-pequenos-nucleos .scroll-content {
    padding: 0px !important;
}
