// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.menu-inner {
    background: #AFD3E8 !important;
}

#menu-header {
    max-width: 70%;
    margin: auto;
    display:flex;
    padding-top: 10px;
    background: #AFD3E8;
    text-align: center;
    position: relative;
}

#menu-header img {
    width: 60%;
    height: auto;
}

// #menu-header {
//     height: 30%;
//     background: #AFD3E8;
// }

#menu-header div {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}



.header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
    background-image: url() !important;
}

#menu-content {
    background: #AFD3E8;
    border: 0px;
    position: relative;
}

#menu-content .scroll-content {
    margin-top: 0px !important;
}

#menu-content img {
    margin-right: 15px;
    margin-left: 15px;
    width: 10%;
}

.menu-button {
    background: #AFD3E8;
    color: #113274;
}

.imagemLogin {
    width: 85%;
    height: auto;
}

.divLogado {
    width: 85%;
    height: auto;
    overflow: hidden;
}

.imagemLogado {
    border-radius: 50%;
}

.toolbar-background-md {
    background-color: #1e5799;
}

@font-face {
font-family: "Roboto Condensed";
src: url("../assets/font/Nexa Light.otf");
}

.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
    color: white;
}

.toolbar-title-md {
    color: white;
    text-align: center;
    font-weight: bold;
}

.alert-md .alert-message {
    text-align: center;
}

.alert-md .alert-title {
    text-align: center;
}

.alert-md .alert-button-group {
    padding: 8px 36px 8px 24px;
}

.alert-md .alert-sub-title {
    text-align: center;
}

.button-center {
    padding: 8px 88px 8px 20px !important;
}

.card-background-page {

  ion-card {
    position: relative;
    text-align: center;
  }

  .card-title {
    position: absolute;
    top: 80%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }
}

// .popover-md .popover-content {
//     top: 47px !important;
//     left: 30px !important;
//     width: 345px;
// }
