<ion-menu [content]="content">

  <ion-header id="menu-header">
      <div>
          <div class="imagemLogin">
              <img *ngIf="user == null" src="assets/home/menu/login.png" />
          </div>
          <h2 *ngIf="user == null" (click)="openLogin()" style="text-align: center; color: #113274;">LOGIN</h2>

          <div class="divLogado">
              <img class="imagemLogado" *ngIf="user != null" [src]="user.fotoUrl" />
          </div>
          <h6 *ngIf="user != null" style="text-align: center; color: #113274;">{{user.nome}}</h6>
          <p *ngIf="user != null">{{user.email}}</p>
      </div>

  </ion-header>

  <ion-content id="menu-content">
      <ion-list>
            <button class="menu-button" (click)="openEquipePastoral()" ion-item>
                <img src="assets/home/menu/equipe-pastoral.png" item-start />
                Equipe Pastoral
            </button>
            <button class="menu-button" (click)="openComoChegar()" ion-item>
                <img src="assets/home/menu/como-chegar.png" item-start />
                Como Chegar
            </button>
            <button class="menu-button" (click)="openComoContribuir()" ion-item>
                <img src="assets/home/menu/como-contribuir.png" item-start />
                Como Contribuir
            </button>
            <button *ngIf="user != null" class="menu-button" (click)="openMensagem()" ion-item>
                <img src="assets/home/menu/notificacao.png" item-start />
                Enviar mensagem
            </button>
            <button class="menu-button" (click)="openSobre()" ion-item>
                <img src="assets/home/menu/sobre-isso.png" item-start />
                Sobre este App
            </button>
            <button *ngIf="user != null" class="menu-button" (click)="logout()" ion-item>
                <img src="assets/home/menu/sair.png" item-start />
                Sair
            </button>
      </ion-list>
  </ion-content>

</ion-menu>

<!-- <page-menu></page-menu> -->

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
