page-avisos-acampamento {

}

page-avisos-acampamento ion-content {
    background-color: #B8D4B1 !important;
}

page-avisos-acampamento .toolbar-background {
    background-color: #005221 !important;
}

page-avisos-acampamento sino .button-md {
    background-color: #005221 !important;
}
