
<ion-header>

  <ion-navbar>
    <ion-title>INSCRIÇÕES</ion-title>
    <ion-buttons end>
        <sino></sino>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content class="card-background-page">

  <loading-spinner margin="100px auto" color="black" *ngIf="showSpinner"></loading-spinner>

  <ion-card *ngFor="let inscricao of inscricoes | async" (click)="open(inscricao.$key)">
      <img src="{{imgsource[inscricao.$key]}}" />
      <div class="card-title"><span>{{inscricao.nome}}</span></div>
  </ion-card>
  
</ion-content>
