page-como-contribuir {

  .bank-item{
    text-align: left;
    color: black;
    border-top: 1px solid   '' #8c8b8b;
    border-left: 1px solid #8c8b8b;
    border-right: 1px solid #8c8b8b;
    border-bottom: 0.5px solid #8c8b8b;
  }

  .brb{
    border-top: 1px solid #8c8b8b;
    border-left: 1px solid #8c8b8b;
    border-right: 1px solid #8c8b8b;
  }
}
