page-ministerio-detail {

}

page-ministerio-detail h2 {
    font-weight: bold !important;
    margin-bottom: 10px !important;
    margin-top: 10px !important;

}

page-ministerio-detail .scroll-content {
    padding: 0px !important;
}

page-ministerio-detail ion-content {
    background-color: #D4ECFC !important;
}
