page-eduardo-claudia h2 {
    font-weight: bold !important;
    margin: 10px 10px 10px 10px !important;
}

page-eduardo-claudia h1 {
    margin: 10px 10px 10px 10px !important;
}

page-eduardo-claudia p {
    margin: 10px 10px 10px 10px !important;
}
