page-equipe-pastoral-detail {

}

page-equipe-pastoral-detail h2 {
    font-weight: bold !important;
    margin: 10px 10px 10px 10px !important;
}

page-equipe-pastoral-detail h1 {
    margin: 10px 10px 10px 10px !important;
}

page-equipe-pastoral-detail p {
    margin: 10px 10px 10px 10px !important;
}

page-equipe-pastoral-detail ion-content {
    background-color: #D4ECFC !important;
}
