<ion-header>

  <ion-navbar>
    <ion-title>{{(equipePastoral | async)?.nome}}</ion-title>
    <ion-buttons end>
        <sino></sino>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content class="card-background-page">
    <ion-card style="text-align: justify;">
      <loading-spinner margin="10px auto" color="black" *ngIf="showSpinner"></loading-spinner>
      <img (load)="showSpinnerMeth()" src="{{imgsource}}" />
      <h1>{{(equipePastoral | async)?.nome}}</h1>
      <p *ngIf="equipePastoral.funcao">
          {{(equipePastoral | async)?.funcao}}
      </p>
      <h2>DESCRIÇÃO:</h2>
      <p>
          {{(equipePastoral | async)?.descricao}}
      </p>
      <h2>CONTATO</h2>
      <p>
          {{(equipePastoral | async)?.contato}}
      </p>
    </ion-card>
</ion-content>
