page-alex-anne h2 {
    font-weight: bold !important;
    margin: 10px 10px 10px 10px !important;
}

page-alex-anne h1 {
    margin: 10px 10px 10px 10px !important;
}

page-alex-anne p {
    margin: 10px 10px 10px 10px !important;
}
