page-acampamento-jovens {

}

page-acampamento-jovens ion-content {
    background-color: #B8D4B1 !important;
}

page-acampamento-jovens .toolbar-background {
    background-color: #005221 !important;
}

page-acampamento-jovens sino .button-md {
    background-color: #005221 !important;
}
