page-programacao-acampamento ion-content {
    background-color: #B8D4B1 !important;
}

page-programacao-acampamento .toolbar-background {
    background-color: #005221 !important;
}

page-programacao-acampamento sino .button-md {
    background-color: #005221 !important;
}

page-programacao-acampamento .header {
    background-color: #005221 !important;
    color: white;
    text-align: center;
    font-weight: bold;
}

page-programacao-acampamento .subheader {
    text-align: center;
    background-color: #48854C;
    margin-top: 2px;
}

page-programacao-acampamento .odd {
    text-align: center;
    background-color: #66A166;
    margin-top: 2px;
}

page-programacao-acampamento ion-row {
    text-align: center;
}
