<ion-header>

  <ion-navbar>
    <ion-title>Programação</ion-title>
    <ion-buttons end>
        <sino></sino>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <loading-spinner margin="100px auto" color="black" *ngIf="showSpinner"></loading-spinner>

    <ion-card *ngFor="let programacao of programações | async">

      <ion-card-content>
        {{programacao.ordem}}. {{programacao.mensagem}}
      </ion-card-content>

    </ion-card>
    <p class="center" *ngIf="programações.length == 0 || !programações">
      Não existem programações.<br/>
    </p>
</ion-content>
