<!--
  Generated template for the PedidoOracaoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>PEDIDO DE ORAÇÃO</ion-title>
    <ion-buttons end>
      <sino></sino>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <form [formGroup]="pedidoOracaoForm" (ngSubmit)="enviar()">
    <ion-item>
      <ion-label floating>NOME</ion-label>
      <ion-input [(ngModel)]="pedido.nome" formControlName="nome" name="nome" type="text"></ion-input>
    </ion-item>
    <div *ngIf="pedidoOracaoForm.controls['nome'].hasError('required') && pedidoOracaoForm.controls['nome'].touched">
      Nome precisa ser preenchido!
    </div>
    <div *ngIf="pedidoOracaoForm.controls['nome'].hasError('minlength') && pedidoOracaoForm.controls['nome'].touched">
      Nome precisa ter ao menos 3 caracteres!
    </div>
    <div *ngIf="pedidoOracaoForm.controls['nome'].hasError('maxlength') && pedidoOracaoForm.controls['nome'].touched">
      Nome precisa pode ter no máximo 30 caracteres!
    </div>

    <ion-item>
      <ion-label floating>TELEFONE</ion-label>
      <ion-input [(ngModel)]="pedido.telefone" formControlName="telefone" name="telefone" type="tel"></ion-input>
    </ion-item>
    <div *ngIf="pedidoOracaoForm.controls['telefone'].hasError('required') && pedidoOracaoForm.controls['telefone'].touched">
      Telefone precisa ser preenchido!
    </div>
    <div *ngIf="pedidoOracaoForm.controls['telefone'].hasError('minlength') && pedidoOracaoForm.controls['telefone'].touched">
      Telefone precisa ter ao menos 8 caracteres!
    </div>
    <div *ngIf="pedidoOracaoForm.controls['telefone'].hasError('maxlength') && pedidoOracaoForm.controls['telefone'].touched">
      Telefone precisa pode ter no máximo 15 caracteres!
    </div>

    <ion-item>
      <ion-label floating>EMAIL</ion-label>
      <ion-input [(ngModel)]="pedido.email" formControlName="email" name="email" type="email"></ion-input>
    </ion-item>
    <div *ngIf="pedidoOracaoForm.controls['email'].hasError('required') && pedidoOracaoForm.controls['email'].touched">
      Email precisa ser preenchido!
    </div>
    <div *ngIf="pedidoOracaoForm.controls['email'].hasError('minlength') && pedidoOracaoForm.controls['email'].touched">
      Email precisa ter ao menos 10 caracteres!
    </div>
    <div *ngIf="pedidoOracaoForm.controls['email'].hasError('maxlength') && pedidoOracaoForm.controls['email'].touched">
      Email precisa pode ter no máximo 40 caracteres!
    </div>
    <div class="error-box" *ngIf="pedidoOracaoForm.controls['email'].hasError('ValidateEmailOutput') && pedidoOracaoForm.controls['email'].touched">
      Preencha um email valido!
    </div>

    <ion-item>
      <ion-label floating>PEDIDO</ion-label>
      <ion-textarea [(ngModel)]="pedido.pedido" formControlName="pedido" name="pedido" rows="10"></ion-textarea>
    </ion-item>
    <div *ngIf="pedidoOracaoForm.controls['pedido'].hasError('required') && pedidoOracaoForm.controls['pedido'].touched">
      Pedido precisa ser preenchido!
    </div>
    <div *ngIf="pedidoOracaoForm.controls['pedido'].hasError('minlength') && pedidoOracaoForm.controls['pedido'].touched">
      Pedido precisa ter ao menos 20 caracteres!
    </div>
    <div *ngIf="pedidoOracaoForm.controls['pedido'].hasError('maxlength') && pedidoOracaoForm.controls['pedido'].touched">
      Pedido precisa pode ter no máximo 400 caracteres!
    </div>

    <button type="submit" full ion-button color="secondary" [disabled]="!pedidoOracaoForm.valid">ENVIAR</button>
  </form>

  <!-- <ion-fab right bottom>
    <button ion-fab mini><ion-icon name="add"></ion-icon></button>
  </ion-fab>

  <ion-list>
    <ion-item *ngFor="let pedido of pedidos | async">

        <ion-item-sliding (click)="openModal(pedido)">
        <ion-item>
            <h2>{{pedido.nome}}</h2>
            <h3>{{pedido.email}}</h3>
            <p>{{shortText(pedido.pedido)}}</p> -->



          <!-- <ion-avatar item-start>
            <img src="assets/ministerios/acolhimento.jpg">
          </ion-avatar>
          <h2>Slimer</h2> -->
        <!-- </ion-item>

        <ion-item-options side="right">
          <button ion-button color="primary">
            <ion-icon name="md-mail-open"></ion-icon>
            Editar
          </button>
          <button ion-button color="danger">
            <ion-icon name="md-trash"></ion-icon>
            Apagar
          </button>
        </ion-item-options>
        </ion-item-sliding> -->



      <!-- <h2>{{pedido.nome}}</h2>
      <h3>{{pedido.email}}</h3>
      <p>{{shortText(pedido.pedido)}}</p>
      <ion-icon name="md-create" item-end></ion-icon>
    <ion-icon name="trash" item-end></ion-icon> -->

    <!-- </ion-item>

  </ion-list> -->
</ion-content>
