page-ministerio-recepcao h2 {
    font-weight: bold !important;
    margin-bottom: 10px !important;
    margin-top: 10px !important;

}

page-ministerio-recepcao .scroll-content {
    padding: 0px !important;
}
